<div class="jumbotron field">
  <form (ngSubmit)="sendForm()" [formGroup]="form" ngNativeValidate>

    <div class="form-group input-group form-group-no-border">
      <label>Full Name</label>
      <input type="text" class="form-control" name="fullname" placeholder="Full Name..." required formControlName="fullname" [formGroup]="form"/>
    </div>
    <span class="help-block" *ngIf="formErrors.fullname">{{ formErrors.fullname }}</span>

    <div class="form-group input-group form-group-no-border">
      <label>Email</label>
      <input type="email" class="form-control" name="email" placeholder="Email..." required formControlName="email" [formGroup]="form"/>
    </div>
    <span class="help-block" *ngIf="formErrors.email">{{ formErrors.email }}</span>

    <div class="form-group input-group form-group-no-border">
      <label>Confirm Email</label>
      <input type="email" class="form-control" name="confirmEmail" placeholder="Confirm Email..." required formControlName="confirmEmail" [formGroup]="form"/>
    </div>
    <span class="help-block" *ngIf="formErrors.confirmEmail">{{ formErrors.confirmEmail }}</span>

    <div class="form-group input-group form-group-no-border">
      <label>Message</label>
      <div class="subject form-group input-group">
        <input class="form-control" placeholder="Subject">
      </div>
      <textarea class="form-control" name="textMessage" formControlName="textMessage" placeholder="Say something..." required [formGroup]="form"></textarea>
    </div>
    <span class="help-block" *ngIf="formErrors.textMessage">{{ formErrors.textMessage }}</span>

    <div class="button-container">
      <div class="form-group footer text-center">
        <button type="submit" class="btn btn-success btn-round btn-lg" [disabled]="form.invalid">Submit</button>
      </div>

      <div class="form-group footer text-center">
        <button type="reset" class="btn btn-warning btn-round btn-lg">Clear Field</button>
      </div>
    </div>

  </form>

</div>
